.block-comment__box-list-comment
  .list-comment
  .item-comment:first-child
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #8f4657;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(2)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #174608;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(3)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #5b1b05;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(4)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #947e65;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(5)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #320288;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(6)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #1b122c;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(7)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #903d83;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(8)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #566039;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(9)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #227690;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(10)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #809166;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(11)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #54666c;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(12)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #201853;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(13)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #416d2a;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(14)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #26792e;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(15)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #211717;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(16)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #73507a;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(17)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #6c7a40;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(18)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #12378d;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(19)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #458d1d;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(20)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #64283a;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(21)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #85010d;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(22)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #35151f;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(23)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #251a7d;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(24)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #640c48;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(25)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #910893;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(26)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #5f856b;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(27)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #4b0469;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(28)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #8d5335;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(29)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #4a2b92;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(30)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #5e852c;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(31)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #451d75;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(32)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #265490;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(33)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #366a88;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(34)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #896268;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(35)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #85103b;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(36)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #65301c;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(37)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #745573;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(38)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #226a51;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(39)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #2d9121;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(40)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #7d630a;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(41)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #83707f;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(42)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #158301;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(43)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #6b7755;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(44)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #7c8a4d;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(45)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #5c0f86;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(46)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #7c3c71;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(47)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #697b3b;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(48)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #391710;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(49)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #5b1356;
  color: #fff;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment:nth-child(50)
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  background-color: #1a8837;
  color: #fff;
}
.block-comment__box-list-comment .list-comment .item-comment__box-cmt {
  margin-bottom: 15px;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 10px;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info {
  align-items: center;
  display: flex;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  .icon-cps {
  overflow: hidden;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  .icon-cps
  div {
  display: flex;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  .icon-cps
  div
  svg {
  height: 25px;
  width: 25px;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__avatar
  span {
  align-items: center;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  justify-content: center;
  margin: 0 5px 0 0;
  text-transform: capitalize;
  width: 25px;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  margin: 0;
  text-transform: capitalize;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-info
  .box-info__tag {
  align-items: center;
  background: #d70018;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-size: 10px;
  font-weight: 700;
  height: 18px;
  line-height: 1;
  margin: 0 0 0 5px;
  padding: 2px 6px;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-info
  .box-time-cmt {
  align-items: center;
  color: #707070;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-question {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  margin-left: auto;
  overflow: hidden;
  padding: 10px;
  width: calc(100% - 25px);
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-question
  .content {
  font-size: 13px;
  margin: 0;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-question
  .btn-rep-cmt {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: #d70018;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  line-height: 1;
  margin-left: auto;
  margin-top: 10px;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .box-cmt__box-question
  .btn-rep-cmt
  svg
  > path {
  fill: #d70018;
}
.block-comment__box-list-comment
  .list-comment
  .item-comment__box-cmt
  .item-comment__box-rep-comment {
  margin-left: auto;
  margin-top: 15px;
  width: calc(100% - 25px);
}
.block-comment__box-list-comment .btn-show-more {
  background: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  color: #212529;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 34px;
  margin: auto;
  max-width: 335px;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
}
.block-comment__box-list-comment .btn-show-more:hover {
  background-color: #fef2f2;
  border: none;
  color: #d70018;
  transition: background-color 0.5s ease-out;
}
.block-comment__box-list-comment .btn-show-more:hover svg {
  fill: #d70018;
}
